@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #993;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}

a img {
	border: none;
}

a:link {
	color:#414958;
	text-decoration: underline; 
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 80%;
	max-width: 1260px;
	background-image: 
	min-width: 780px;
	background-color: #993;
	margin: 0 auto; 
}

.header {
	height: 600px;
	background-image: url(img/elephant%20real.jpg);
	background-size: cover;
	border: 5px solid black;
}
.header1 {
	height: 600px; 
	background-image: url(img/AfricanElephant62415.jpeg);
	background-size:cover;
	border: 5px solid black;
}
.header2 {
	height: 600px;
	background-size: cover;
	border: 5px solid black;
	background-image: url(img/baby%20elephant.jpg);
}
.header3 {
	height: 600px;
	background-size: cover;
	border: 5px solid black;
	background-image: url(img/lek2elephants.jpg);
}
	

.sidebar {
	float: left;
	width: 20%;
	background-color: #993;
	background-image: url(img/savanna_4.jpg);
	padding-bottom: 10px;
	height: 800px;
	background-size:cover;
	position: fixed;
  top: 0px;
  bottom: 0px;
  left: -190px;
  transition: all ease-out 0.5s ;
  width: 120px;
  padding: 30px;
  background: rgba(51,51,51,0.4);
  z-index: 0; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar li {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer; }
    .sidebar li:hover {
      color: white; 
}

	
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
.gif {
	/*margin-left:10px;*/
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}
ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: transparent;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #993;
	color: #FFF;
}

.footer {
	padding: 10px 0;
	background-color: #993;
	position: relative;
	clear: both; 
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
<!-- * Basic lightbox styles. Notice the * default 'display' is 'none'. -->
#gallery {
	width:720px;
	margin:50px auto;
}

#gallery a {
	text-decoration:none;
}

#gallery .item {
	width: 200px; 
	height: 200px; 
	overflow: hidden;
	float: left;
	border: 10px solid #FFF;
	margin: 10px;
    /*-webkit-box-shadow: 0 8px 6px -6px black;*/
    box-shadow: 0 8px 6px -6px black;
}

#gallery .item a { 
    overflow: hidden;
}

#gallery .item a img {
	height: 100%; 
	align-self: center;
	background-size:cover;
}

.lightbox {
	/* Hide the lightbox */
	opacity: 0;
	/* Apply basic lightbox styling */
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	color:#333333;
	/*-webkit-transition: opacity .5s ease-in-out;*/
	transition: opacity .5s ease-in-out;
}

/** Show lightbox when it is target */
.lightbox:target {
	opacity: 1;
	outline: none;
	top: 0;
	transition: opacity .5s ease-in-out;
}

.lightbox .box {
  	width: min-content;
	/*min-width:500px;*/
 	margin: 2% auto;
	padding:10px 20px 10px 20px;
	background-color:#FFF;
	box-shadow: 0px 1px 26px -3px #777777; 
}

.lightbox .title {
	margin:0;
	padding:0 0 10px 0px;
	border-bottom:1px #ccc solid;
	font-size:22px;
}

.lightbox .content {
	display:block;
	position:relative;
}
	
.lightbox .content .desc {
	z-index:99;
	bottom:0;
	position:absolute;
	padding:10px;
	margin:0 0 4px 0;
	background:rgba(0,0,0,0.6);
	color:#fff;
	font-size:17px;
	opacity:0;
	text-align: left;
	transition: opacity ease-in-out 0.5s;
}	
	
.lightbox .content:hover .desc	{
	opacity:1;
}

.lightbox .next, .lightbox .prev, .lightbox .close {
	display:block;
	text-decoration:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000;
}

.lightbox .next, .lightbox .prev {
	font-size:52px;
	
}

.lightbox .close {
	font-size:22px;
}

.prev {
	float:left;
	
}

.next, .close {
	float:right;
}
	
.clear {
	display:block;
	clear:both;
}

/* CSS Document */

.page-content {
  position: relative;
  z-index: 0;
  transition: all ease-out 0.5s ;
  background: #eeeeee; }

.toggle {
  text-decoration: none;
  font-size: 30px;
  color: gold;
  transition: all ease-out 0.5s ;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer; }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrap .toggle {
    left: 200px; }
  #sidebartoggler:checked + .page-wrap .page-content {
    padding-left: 180px; }
	
